.vscode/
plots/*
data/*
__pycache__/
build/
logs/
qc_monitor/__pycache__/
qc_monitor.egg-info/
qc_monitor.egg-info/*
SPIE-2026-SOXS-QC-Monitor/
*.swp
.DS_Store
example_script.sh
configs/qc_monitor_SSA.yaml
configs/qc_monitor.yaml.*
index.html
qc_monitor/upstream.py